* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  padding: 120px 0;
}

.todo {
  margin: 0 auto;
  border-radius: 16px;
  max-width: 600px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 32px;
}

.todo__form {
}

.todo__input {
  width: 100%;
  line-height: 48px;
  font-size: 22px;
  margin-bottom: 32px;
  padding: 0px 12px;
}

.todo__tasks {
}

.todo__task {
  border-bottom: 1px solid rgb(170, 163, 163);
  margin-bottom: 20px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo__task-delete {
  text-decoration: none;
  padding: 6px 4px;
  font-weight: 700;
  color: #bb1c1c;
  background-color: rgba(223, 37, 37, 0.377);
  border-radius: 5px;
  border: 1px crimson;
  cursor: pointer;
}

.todo__text {
  border: none;
}

.todo__error-message {
  display: none;
  text-align: center;
  background-color: rgba(182, 59, 59, 0.329);
  color: #bb1c1c;
  padding: 16px;
  border-radius: 6px;
  margin-bottom: 16px;
}
